h1{
	
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
	font-size: 40pt;
}
p{
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
	width:80%;
	margin-left: 100px; 
	margin-right: 200px; 
  	line-height: 180%	
}

.indent1 {
	margin-left:70px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}

.indent2 {
	margin-left:110px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
}

.indent3 {
	text-align: center;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	
}

.indent-footer {
	text-align: center;
	margin-left: 8%;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	
}
.contatos{
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	font-weight: 40pt;
	color: #F6F5F5;
	margin-left: 43%;
	margin-right: auto;
}

.indent4 {
	margin-left: 5%;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
	
}
.footer1{
	margin-left: 10%;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
	
}
.gap_below {
	margin-bottom: 25px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
	position: absolute;
}

.gap_above {
	margin-top: 25px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}

.gap_below2 {
	margin-bottom: 50px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}

.row{
	display: flex;
}


.col0 img{
	margin-top: 10%;
	float: left;
	border: dotted blue;
}

.col1 img{
	margin-top: 10%;
	float: right;
	border: dotted blue;
}

.col2 img{
	margin-top: 10%;
	float: left;
	border: dotted blue;
}
.col0{
	width: 100%;
	border: dotted red;
}

.col1{
	width: 100%;
	border: dotted red;
	
}

.col2{
	width: 100%;
	border: dotted red;
}
.lado2{
	text-align: left;
	width: 60%;
	border: dotted yellow;
}
.lado1{
	text-align: right;
	width: 60%;
	border: dotted yellow;
	
}
.lado2-titulo{
	text-align: left;
	margin-top: 10%;
	width: 60%;
	border: dotted yellow;
}
.lado1-titulo{
	text-align: right;
	margin-top: 10%;
	width: 60%;
	border: dotted yellow;
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
    left: 100cm;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(201,201,201);


}

.active {
    background-color: white;

}
.carousel-indicators li{
	display: inline-block;
	background-color: white;
}

.carousel-example-generic{
	width: 200px;
	height: auto;	
}

.foto {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
  	opacity: 0;
  }
}

h2 {
  font-weight: normal;
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}
body{
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}
.col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.lado{
	position: right;
}
.container{
	border: dotted black;
}