h1{
	
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	font-size: 40pt;
}
p{
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	width:80%;
	margin-left: 100px; 
	margin-right: 200px; 
  	line-height: 180%	
}
.insper{
	width: 170px;
	margin-top: 0.25%;
	height: 50px;
	float: right;

}
.insper img{
	width: 100%;

}
.indent1 {
	margin-left:70px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
}

.indent2 {
	margin-left:110px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
}

.indent3 {
	text-align: center;
	border: dotted black;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	
}

.indent3-R{
	border: dotted black;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	width: 300px;
}
.indent3-RE{
	border: dotted black;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	width: 280px;
}
.indent3-G{
	border: dotted yellow;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	width: 300px;
}
.indent3-GE{
	border: dotted yellow;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	width: 280px;
}
.indent3-V{
	border: dotted black;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	width: 280px;
}
.indent3-VE{
	border: dotted black;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	width: 280px;
}
.roberto-f{
	border: dotted;
	width: 30%;
	float: left;
}
.gabriel-f{
	border: dotted yellow; 
	width: 30%;
	height: 100px;
	position: relative;	
	left: 30%;

}
.vitor-f{
	border: dotted;
	width: 30%;
	position: relative;
	left: 60%;

}

.indent-footer {
	text-align: center;
	margin-left: 8%;
	color: #A2A2A2;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	
}
.contatos{
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	font-size: 3em;
	color: #F6F5F5;
	margin-left: 40%;
	margin-bottom: 2.5%;
	margin-top: 5%;
	margin-right: 43%;
	position: center;
	border: dotted black;

}
.footer-f{
	border: dotted black;
}

.indent4 {
	margin-left: 5%;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
	
}
.footer1{
	margin-left: 10%;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
	
}
.gap_below {
	margin-bottom: 25px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
	position: absolute;
}

.gap_above {
	margin-top: 25px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}

.gap_below2 {
	margin-bottom: 50px;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}

.row{
	display: flex;
}


.col0 img{
	margin-top: 10%;
	float: left;
	/*border: dotted blue;*/
}

.col1 img{
	margin-top: 10%;
	float: right;
	/*border: dotted blue;*/
}

.col2 img{
	margin-top: 10%;
	float: left;
	/*border: dotted blue;*/
}
.col0{
	width: 100%;
	/*border: dotted red;*/
}

.col1{
	width: 100%;
	/*border: dotted red;*/
	
}

.col2{
	width: 100%;
	/*border: dotted red;*/
}
.lado1{
	width: auto;
	text-align: center;
	font-size: 2em;
	color: #8B8B8B;
	font-size: 30px;
	text-shadow: 2px 12px 32px #737373;
	font-weight: 200;
	left: -140px;	/*border: dotted yellow;*/
	margin-left: 113px;
}
.lado3{
	text-align: left;
	width: 40%;
	font-size: 2.0em;
	margin-left: 40%;
	color: #8B8B8B;
	font-size: 30px;
	text-shadow: 2px 12px 32px #737373;
	font-weight: 200;
	/*border: dotted black;*/
}
.lado3-titulo{
	text-align: left;
	margin-top: 15%;
	margin-left: 40%;
	font-size: 3.2em;
	width: auto;
	color: #8B8B8B;
	font-size: 68px;
	text-shadow: 2px 12px 32px #737373;
	font-weight: 200;

	/*border: dotted yellow;*/
}
.lado1-titulo{
	text-align: center;
	margin-right: 40%; 
	margin-top: 15%;
	width: 60%;
	color: #8B8B8B;
	font-size: 68px;
	text-shadow: 2px 12px 32px #737373;
	font-weight: 200;
	/*border: dotted yellow;*/
	
}
hr.style1{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, rgb(205,63,55), #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
    left: 100cm;
}

li {
    float: left;
    text-decoration: none;
    font-size: 20px;
}

li a {
    display: block;
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(201,201,201);

    text-decoration: none;

    background-color: rgb(205,63,55);
    text-decoration: none;
    font-size: 1em;
    color: white;
}

#botaoSelecionado{
	background-color: rgb(205,63,55);
	color: white;
	text-decoration: none;
}

.active {
    background-color: white;

}
.carousel-indicators li{
	display: inline-block;
	background-color: white;
}

.carousel-example-generic{
	width: 200px;
	height: auto;	
}

.foto {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
  	opacity: 0;
  }
}

h2 {
  font-weight: normal;
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}
body{
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;;
}
.col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.lado{
	position: right;
}

.image{
	width:100%;
	height:100%;
	background-image: url("./images/lower_footer.png");
}

.container{
	/*border: dotted black;*/
}
	
/* BTN GERAL */
.btn{
	background: #949494;
	border: solid 1px transparent;
	border-radius: 5px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 6px 12px;
	text-decoration: none;
}

.btn i{

	margin-right: 5px;
	}

/* BTN COLORES */
.btn-primary{
	border-color: #949494;
	color: #949494;
	transition: background 0.3s linear 0s;
}

.btn-primary:hover{

	background: #7A7A7A;
	border-color: #7A7A7A;
	color: #949494;
	}