h1{
	
	font-family: 'Open Sans', sans-serif;
	font-size: 40pt;
}
p{
	font-family: 'Open Sans', sans-serif;
	width:80%;
	margin-left: 100px; 
	margin-right: 200px; 
  	line-height: 180%	
}

.indent1 {
	margin-left:70px;
}

.indent2 {
	margin-left:110px;
}

.indent3 {
	text-align: center;
	border: dashed thick #B91013;
	
}
.contatos{
	font-family: 'Open Sans', sans-serif;
	border: dashed thick #B91013;
	font-weight:normal;
	margin-left: 43%;
	margin-right: auto;
}

.indent4 {
	margin-left: 5%;
	
}
.footer1{
	margin-left: 10%;
	
}
.gap_below {
	margin-bottom: 25px;
	position: absolute;
}

.gap_above {
	margin-top: 25px;
}

.gap_below2 {
	margin-bottom: 50px;
}

.row{
	display: flex;
}


.col0 img{
	margin-right: 100px;
	margin-top: 30px;
}

 .col01 img{
	margin-right: 100px;
	margin-top: 370px;
}

.col1 img{
	margin-right: 100px;
	margin-top: 100px
}
.col0{
	width: 50%;
	padding: 40px;
}

.col1{
	width: 50%;
	padding: 4px;
	margin-top: 300px
}

.col2{
	width: 33.33%;
	padding: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: white;

}
.carousel-indicators li{
	display: inline-block;
	background-color: white;
}

.carousel-example-generic{
	width: 200px;
	height: auto;	
}

.foto {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
  	opacity: 0;
  }
}

.col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  border: medium dashed black;
}

h2 {
  font-weight: normal;
}

.col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
